<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SConn" connectionString="Data Source=DESKTOP-F6V69VL\BAODUYSQL;Initial Catalog=HRM_VTHP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HRM_VTHP.Properties.Settings.HRM_VTHPConnectionString"
      connectionString="Data Source=DESKTOP-F6V69VL\BAODUYSQL;Initial Catalog=HRM_VTHP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DESKTOP-FSHV9FJ\MSSQLSERVER2014_HRM_VTHP_Connection"
      connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-F6V69VL\BAODUYSQL;integrated security=SSPI;initial catalog=HRM_VTHP" />
    <add name="._HRM_VTHP_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=HRM_VTHP" />
  </connectionStrings>
  <appSettings>
    <add key="BHYT" value="8"/>
    <add key="BHXH" value="1.5"/>
    <add key="BHTN" value="2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>