<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectQLNVOAD.Properties.Settings.QLNV_LuongConnectionString"
            connectionString="Data Source=DESKTOP-J2U6JA8\TRONGBA;Initial Catalog=QLNV_Luong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>